 body,html{
  height:100%;
}

html>body{
    /*background-color: #E5E5E5;*/
}

a:hover{
  text-decoration: none;
}

.container>.jumbotron{
  background-color: #F5F5F5;
}

body>.main-container {
	min-height: 1000px;
}

.comments{
	margin-top: 50px;
}

#footer-area{
  /*background-color: #2C3E50;
  color: #fff;*/
  margin-top: 80px;
  text-align: left;
  list-style: none;
}

#copy-area {
  /*background-color: #149C82;
  color: #fff;*/
  padding: 10px;
}